__pycache__/
.pytest_cache/
.venv/
*.egg-info/
data/
artifacts/
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal
.DS_Store
*.pt
*.pth
*.tar.gz
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!.example.tfvars
*.pem
